body {
  font-family: 'Roboto', sans-serif;
  background-color: #fefdf6;
}

.container {
  background-color: #fffdd0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
  text-align: center;
}

.logo {
  max-width: 200px;
  height: auto;
  margin-bottom: 20px;
}

h1 {
  color: #543e2d;
  text-align: center;
}

.meal-images {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.meal-image {
  text-align: center;
  margin: 10px;
}

.meal-image img {
  max-width: 120px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.meal-image p {
  margin-top: 5px;
  color: #5d4037;
  font-weight: bold;
}

.form-label {
  font-weight: bold;
  color: #543e2d;
  text-align: center;
  display: block;
}

.form-half {
  width: 50%;
  margin: 0 auto 15px auto;
}

.form-control {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #8f7761;
  box-shadow: 0 0 5px rgba(84, 62, 45, 0.5);
}

/* Botão "Adicionar Refeição" em amarelo */
#btnAdicionar {
  background-color: #ffff00;
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

#btnAdicionar:hover {
  background-color: #e6e600;
}

/* Botão "Voltar" em vermelho */
.btn-secondary {
  background-color: #ff0000;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: #cc0000;
}

.alert-success {
  background-color: #d4edda;
  color: #0f5132;
  border-color: #badbcc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Responsividade para celular */
@media (max-width: 576px) {
  .form-half {
      width: 100%;
  }

  .meal-images {
      flex-direction: column;
      align-items: center;
  }

  .meal-image {
      margin-bottom: 15px;
  }
}